body{
background-color: rgb(56, 53, 53);

}
.selections{
    display: flex;
justify-content: center;
}

.selection{
    margin-top: 80px;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
    margin: 10px;
}

.section:hover{
    transform: scale(1.5);
}
.result{
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, .1fr);
    justify-items: center;
    align-items: center;
    font-size: 36px;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    margin-left: 5px;

}

/*.result .result-score{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    margin-left: 5px;

}*/

.result-selection{
    font-size: 28px;
    opacity: 0.5;
}
.result-selection.winner{
    opacity: 1.2;
}

span{
    margin-left: 15px;
}

